.login-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.login-form {
  position: absolute;
  width: 360px;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -200px;
}

.login-form h2 {
  text-transform: uppercase;
  margin: 15px 0;
  color: #999;
  font: bold 200% Consolas, Monaco, monospace;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .login-form {
    width: 360px;
  }
}

@media screen and (max-width: 320px) {
  .login-form {
    width: 260px;
  }
  .login-form h2 {
    font-size: 1.6rem;
  }
}
